@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;

  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}
.use-footer {
  background-color: #0d0d0d; /*#0f1e38*/ /*#24262b*/ /*#030d1e*/
  padding: 70px 70px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: "Poppins";

  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  font-family: "Poppins";
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: aliceblue;
  padding-left: 10px;
  opacity: 1;
}

.footer-col ul li p {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  font-family: "Poppins";
  transition: all 0.3s ease;
}

.footer-col ul li p:hover {
  color: aliceblue;
  padding-left: 10px;
  opacity: 1;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: aliceblue;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: aliceblue;
}

.footer-col .social-links .facebook {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: aliceblue;
  transition: all 0.5s ease;
}

.footer-col .social-links .facebook:hover {
  color: #24262b;
  background-color: aliceblue;
}

.right {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 14px;
  color: #bbbbbb;
  font-weight: 300;
  font-family: "Poppins";
  transition: all 0.3s ease;
}

#back-top {
  opacity: 0;
  z-index: 99999;
  font-size: 14px;
  color: white;
  line-height: 47px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.6s ease;
  transform: translateY(40px);
  background: var(--primaryClr);
}

#back-top.active {
  opacity: 1;
  transition: all 0.6s ease;
  transform: translateY(-20px);
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
